.panel {
    width: 25%;
    background-color: #293b29;
    color: #e0cc01;
    display: flex;
    flex-direction: column;
}

.panel input[type="file"] {
    align-self: center;
    width: 80%;
}

.game-info {
    height: 92%;
}

.upload-answers {
    display: flex;
    flex-direction: column;
}

.title {
    width: 100%;
    height: 20%;
    font-size: x-large;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.title .input-group {
    width: 75%;
}

.add-team {
    font-size: medium;
    cursor: pointer;
}

.team-input {
    font-size: medium;
}

.team {
    display: grid;
    padding-top: 3px;
    padding-bottom: 3px;
    grid-template-columns: 15% 45% 15% 25%;
    grid-template-rows: 30px;
}

.team .button {
    text-align: right;
}

.team .name {
    font-size: large;
}

.team .score.negative {
    color: red;
}

.team .score {
    font-size: large;
}

ion-icon[name = "add-circle-outline"] {
    cursor: pointer;
    font-size: x-large;
}

ion-icon[name = "remove-circle-outline"] {
    cursor: pointer;
    font-size: x-large;
}